rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {
        match /csaladwiki/{allPaths=**} {
            function hasReadAccess() {
              return request.auth.token["wiki"] == true;
            }
            // allow read if custom claim set
            allow get: if hasReadAccess();
            // don't allow lists:
            allow list: if false;
            // don't allow updates:
            allow update: if false;
            // don't allow creates:
            allow create: if false;
            // don't allow deleles: 
            allow delete: if false;
        }
    }
}
